body{
    text-align: center;
    margin: 0px;
    padding: 0px;

    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header{
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
}

.center{
    width: 75%;
    margin: 0px auto;
}

#logo{
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img{
    display: block;
    float: left;
    height: 60px;
    margin-top: -9px;
    margin-right: 10px;
    animation: girar infinite 30s linear;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}

#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul{
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 10px;
    margin-right: 10px;
}

#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover{
    color: #3cb2d3;
}

#slider{
    width: 100%;
    height: 350px;
    /*line-height: 320px;*/
    color: white;
    text-shadow: 0px 0px 5px #444;

    /*DEGRADADO CSS*/

    background: rgb(57,99,108);
    background: radial-gradient(circle, rgba(57,99,108,1) 0%, rgba(60,178,211,1) 35%, rgba(0,212,255,1) 100%);
}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btn-white{
    display: block;
    background: white;
    color: #444;
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color: white;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}

#content{
    width: 70%;
    float: left;
    min-height: 450px;
    margin-right: 20px;
}

#sidebar{
    width: 25%;
    float: left;
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #eee;
}

.sidebar-item .btn{
    margin: 0px auto;
    margin-top: 10px;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
    background: #3cb2d3;
}

.btn-success:hover{
    background: #444;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 5px #444 inset;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }