<app-slider [nombre]="'Películas'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">
                Pelicula Favorita
            </h2>
            <h4>
                {{favorita.title}}
            </h4>
            <h5>
                {{favorita.year}}
            </h5>
            
        </div>

        <h1 class="subheader">Películas</h1>

        <!--
        <h2>{{titulo}}</h2>
        <button (click)="cambiarTitulo()">Púlsame</button>
        <hr>

        <h2>Mostrar primera película</h2>
        {{peliculas[0].title}}

        <hr>

        <h2>Número de películas</h2>

        <div *ngIf="peliculas.length <= 3">
            Hay pocas películas
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas películas
        </div>

        {{peliculas.length}}

        <hr>

        <h2 class="subheader">Listado de películas</h2>
        -->
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i = index">
                <app-pelicula [pelicula]="pelicula" (MarcarFavorita)="mostrarFavorita($event)">
                    
                </app-pelicula>
            </div>
            

        </div>

    </section>

    <app-sidebar></app-sidebar>
</div>